<div class="row js_no_pizza text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito alcuna pizza</h3>
    </div>
</div>
<div class="row js_pizza_table d-none">
    <!-- qui verranno mostrati gli elementi -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

<script type="text/javascript">

    axios.get('/api/pizza/detail/${pizza.id}').then(res =>{

        if (res.data.length == 0) {

            document.querySelector('.js_no_pizza').classList.remove('d-none');
            document.querySelector('.js_pizza_table').classList.add('d-none');

        } else {

            document.querySelector('.js_pizza_table').classList.remove('d-none');
            document.querySelector('.js_no_pizza').classList.add('d-none');

            document.querySelector('.js_pizza_table').innerHTML = '';

            res.data.forEach(pizza => {

                console.log('pizza', pizza);

                document.querySelector('.js_pizza_table').innerHTML +=
                    `
                                                    <div class="col-12 col-md-4 p-2">
                                <div class="card pizza h-100">
                                  <img src="${pizza.image}" class="card-img-top" alt="...">
                                  <div class="card-body" style="color:black">
                                    <h5 class="card-title">${pizza.name}</h5>
                                    <p class="card-text">${pizza.description}</p>
                                  </div>
                                </div>
                            </div>
                            `;
            });
        }


        }).catch(error => {
            debugger;
            console.log(error);
        })

</script>