<div class="row js_no_pizza text-center d-none">
    <div class="col-12">
        <h3>Non hai inserito alcuna pizza</h3>
    </div>
</div>
<div class="row js_pizza_table d-none">
    <!-- qui verranno mostrati gli elementi -->
</div>

@section Scripts{

<script type="text/javascript">

    axios.get('/api/pizza/get').then(res => {

        if (res.data.length == 0) {

            document.querySelector('.js_no_pizza').classList.remove('d-none');
            document.querySelector('.js_pizza_table').classList.add('d-none');

        } else {

            document.querySelector('.js_pizza_table').classList.remove('d-none');
            document.querySelector('.js_no_pizza').classList.add('d-none');

            document.querySelector('.js_pizza_table').innerHTML = '';

            res.data.forEach(pizza => {

                console.log('pizza', pizza);

                document.querySelector('.js_pizza_table').innerHTML +=
                    `
                        <div class="col-12 col-md-4 p-2">
                             <div class="detailPizzaGuest" class="d-flex " >
                                 <div class="card d-flex flex-column flex-row align-items-center text-center" >
                                    <img src="${pizza.image}" class="card-img-top" alt="${pizza.name}">
                                    <div class="card-body d-flex flex-column justify-content-center" style="margin-right:20px;color:#219ebc">
                                        <h3 class="text-uppercase">${pizza.name}</h3>
                                        <p class="card-text">${pizza.description}</p>
                                        <strong>Costo: ${pizza.price} Euro</strong>
                                        <br />
                                        <span><strong>Categoria: </strong>Categoria: ${pizza.category.name}</span>
                                        <a class="btn btn-info mt-3" href="/guest/detail/${pizza.id}">DETTAGLI</a>
                                    </div>
                                </div>
                            </div>
                         </div>
                    `;
            });
        }


    }).catch(error => {
        //debugger;
        console.log(error);
    })

</script>
}