@model List<Ingredient>

@if (Model.Count() == 0)
{
    <h2>Purtoppo non hai ingredienti inseriti!!!</h2>
}
else
{
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">NOME INGREDIENTE</th>
                <th scope="col">PIZZE COLLEGATE</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ingredient ingredient in Model)
            {
                <tr>
                    <td id="titleTable" class="text-uppercase" scope="row">@ingredient.Name</td>
                    @if (ingredient.Pizzas.Count == 0)
                    {
                        <td>Nessuna pizza</td>
                    }
                    else
                    {
                        <td>
                            @foreach (Pizza ing in ingredient.Pizzas)
                            {

                            <span>@ing.Name</span><br />
                            }
                        </td>
                    }

                    <td >
                        <a href="@Url.Action("Update","Ingrediente", new {id = ingredient.Id})">
                            <button type="button" class="btn btn-warning btn-sm mb-3">MODIFICA</button>
                        </a>
                        <form asp-controller="Ingrediente" asp-action="Delete" asp-route-id="@ingredient.Id" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">CANCELLA</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}